*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "Nimbus Sans L";
}

#main{
    width: 100%;
    
}

a{
    text-decoration: none;
    color: #000;
}

nav{
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    opacity: .7;
    font-size: 12px;
    font-weight: 800;
}

nav .n-mid{
    font-size: 14px;
}

nav .n-left ul{
    list-style: none;
    display: flex;
    gap: 30px;
}













/* hero-main-con css start */


.hero-con{
    width: 100%;
    height: 160vh;
    padding: 3vw 10vw;
}

.hero-main-con{
    width: 100%;
    margin-top: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.h-left{
    width: 15vw;
    height: 250px;
    font-size: 12px;
}
.h-left h2{
    line-height: 1vw;
    letter-spacing: -1.8px;
}
.h-left p{
    opacity: .7;
    margin: .3vw 0;
    letter-spacing: -.5px;
}

.h-left h5{
    opacity: .7;
}



.h-left .l-img-wrapper{
    position: relative;
    overflow: hidden;
    width: 60%;
    height: 60%;
}



.h-left .l-img-wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-mid{
    width: 30vw;
    height: 90vh;
    position: relative;
}

.h-mid-img-wrapper{
    width: 100%;
    height: 100%;
}

.h-mid-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-mid .upper-h1{
    position: absolute;
    top: -18%;
    left: -13%;
}

.h-mid .upper-h1 h1{
    font-size: 6.2vw;
    letter-spacing: -5px;
    line-height: 5vw;
    font-weight: 400;
}

.h-mid .lower-p{
    width: 40%;
    margin-top: 20px;
}

.h-mid .lower-p p{
    font-size: 1.4vw;
    font-weight: 500;
    letter-spacing: -1px;
}
.h-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    color: #35333397;
}

.h-right .arrow{
    padding: 7px 12px;
    border-radius: 50%;
    border: solid #dadada;
}

.h-right p span{
    font-size: 8px;
}


/* hero-main-con css end */



















/* sec2 css start */


.sec2{
    width: 100%;
    height: 60vh;
    margin-top: 5vh;
    position: relative;
    padding: 3vw 10vw;
}


.sec2 h2{
    font-size: 1.5vw;
    text-transform: uppercase;
    opacity: .7;
    color: #000;
}

.sec2 p{
    font-size: 2.5vw;
    font-weight: 500;
    text-align: right;
    line-height: 1.5;
    margin-top: 35px;
    letter-spacing: -.1vw;
}


.sec2 p span{
    display: inline-block;
    margin: 0 10px;
    margin-bottom: -1vw;
    border-radius: 100px;
    background-color: red;
}


.sec2 p #onespan{
    width: 60px;
    height: 30px;
    margin-bottom: -0.6vw;
    background-image: url("./assets/bluegirl.jpg");
    background-size: cover;
    background-position: 0% 60%;
}


.sec2 p #twospan{
    width: 90px;
    height: 45px;
    background-image: url("./assets/shaljam.jpg");
    background-size: cover;
    background-position: 0% 50%;
}

.sec2 p #threespan{
    width: 60px;
    height: 40px;
    background-image: url("./assets/grass.jpg");
    background-size: cover;
    background-position: 0% 60%;
}

/* sec2 css end */

























/* sec3 css start */

.sec3 {
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#piconecon{
    width: 18vw;
    height: 40vw;
    text-align: left;
    /* background-color: red; */
}

#piconecon .img-wrapper{
    /* background-color: yellow; */
    width: 80%;
    height: 55%;
}

#piconecon p{
    width: 70%;
}

.imgconsec3 h3{
    font-size: 2vw;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: -.1vw;
}

.imgconsec3 p{
    font-size: 1.2vw;
    letter-spacing: -.1vw;
    opacity: .7;
    line-height: 1;
}
#pictwocon p{
    width: 40%;
    text-align: right;
}
#pictwocon{
    width: 30vw;
    height: 40vw;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#pictwocon .img-wrapper{
    /* background-color: yellow; */
    width: 80%;
    height: 80%;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* sec3 css end */


















/* sec4 css start  */

.sec4{
    width: 100%;
    margin-top: 8vh;
    display: flex;
    align-items: center;
}

.banner-img-con{
    width: 65%;
    height: 80vh;
    /* position: relative; */
}

.banner-img-con img{
    width: 100%;
    height: 100%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    object-fit: cover;
    object-position: 0 75%;
}

.text-con-sec4{
    padding: 0 4vw;
}

.text-con-sec4 h2{
    font-size: 2.8vw;
    line-height: 1;
    letter-spacing: -.1vw;
    font-weight: 400;
}

.text-con-sec4 p{
    width: 70%;
    margin-top: 10px;
    letter-spacing: -.1vw;
    opacity: .7;
}
/* sec4 css end */






/*footer css start */

.footer{
    width: 100%;
    height: 100vh;
    margin-top: 5vh;
    position: relative;
}

.footer video{
    width: 100%;
    /* height: 100%; */
    opacity: 0;
}

.text-con-footer{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 1.8vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-con-footer h2{
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: -.1vw;
}

.fbtn{
    margin-top: 10px;
    letter-spacing: -.1vw;
    border: none;
    padding: 1vw 1.3vw;
    border-radius: 100px;
    border: 1px solid #898989;
    cursor: pointer;
    color: #7e7e7e;
}

/* footer css end */


#media{
    display: none;
}


























/* media css start */

@media (max-width: 412px) {
    #main{
        display: none;
    }

    #media{
        display: block;
    }

    #homepage{
        width: 100%;
        height: 160vh;
        padding: 4vw 8vw;
        position: relative;
        /* background-color: aqua; */
    }


    #menu-icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #menu-icon i{
        font-size: 25px;
        cursor: pointer;
        font-weight: 700;
        opacity: .7;
        transition: all .2s ease-in;
    }

    #menu-icon i:hover{
        opacity: 1;
    }




    .menu-opt-con{
        position: absolute;
        top: -100%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #00000042;
        transition: all .5s ease-in-out;
        z-index: 10;
    }

    .active{
        top: 0%;
    }

    #menu-white-con{
        width: 100%;
        height: 25%;
        border-radius: 0 0 50px 50px;
        background-color: #fff;
        transition: all .5s ease;
        box-shadow: 2px 8px 5px rgba(0, 0, 0, 0.2);
        padding: 20vw 8vw;
        text-align: right;
        position: relative;
    }

    #menu-white-con ul{
        width: 100%;
        list-style: none;
        /* background-color: #000; */
    }
    
    #menu-white-con ul li{
        line-height: 1.5;
        
    }

    #menu-white-con ul li a{
        font-size: 7vw;
        font-weight: 550;
        opacity: .7;
        transition: all .2s ease-in;
    }

    #menu-white-con ul li a:hover{
        opacity: 1;
    }

    #cross-icon{
        position: absolute;
        top:5%;
        left: 90%;
        transform: translate(-50%,-50%);
    }

    #cross-icon i{
        font-size: 23px;
        opacity: .7;
        transition: all .2s ease-in;
        cursor: pointer;
    }

    #cross-icon i:hover{
        opacity: 1;
    }

















    #homepagemaincon{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20vw;
        /* background-color: red; */
        margin-top: 20vw;
    }



    #firstimgcon{
        width: 80%;
        height: 70vh;
        position: relative;
    }

    #firstimgcon img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #firstimgcon .upper-h1{
        position: absolute;
        top: -10%;
        left: -12%;
    }

    #firstimgcon .upper-h1 h1{
        letter-spacing: -.1vw;
        line-height: .96;
    }


    #firstimgcon .lower-p{
        position: absolute;
        bottom: -18%;
        left: 0%;
    }

    #firstimgcon .lower-p p{
        width: 60%;
        line-height: 1;
        letter-spacing: -.1vw;
        opacity: .7;
        font-size: 3.8vw;
    }


    #secondcon{
      width: 100%;
      height: 50vh; 
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    #smallimgcon{
        width: 50%;
        height: 30vh;
        padding: 4vw 5vw;
        position: relative;
    }

    #smallimgcon img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #smallimgcon .text-con{
        position: absolute;
        top: -45%;
        left: 12%;
    }

    #smallimgcon .text-con h2{
        letter-spacing: -.1vw;
        font-size: 3.4vw;
        line-height: 1;
    }

    #smallimgcon .text-con h5{
        letter-spacing: -.1vw;
        font-size: 3vw;
        line-height: 1;
    }

    #smallimgcon .text-con p{
        letter-spacing: -.1vw;
        font-size: 2.9vw;
        line-height: 1;
        width: 50%;
        margin-top: 5px;
    }












    /* page2 media css start */

    #page2{
        width: 100%;
        height: 50vh;
        /* margin-top: 60vh; */
        padding: 2vw 6vw;
    }

    #page2 h2{
        font-size: 6vw;
        text-transform: uppercase;
        opacity: .7;
    }

    #page2 p{
        text-align: right;
        line-height: 1;
        margin-top: 20px;
        letter-spacing: -.1vw;
        font-size: 5vw;
        padding-left: 3vw;
    }

    #page2 p span{
        display: inline-block;
        background-color: red;
        border-radius: 100px;
        margin: 0 10px;
        margin-bottom: -1vw;
    }
    

    #onespanmedia{
        width: 10vw;
        height: 7vw;
        background-image: url("./assets/bluegirl.jpg");
        background-position: 0 60%;
        background-size: cover;
    }

    #twospanmedia{
        width: 12vw;
        height: 6vw;
        background-image: url("./assets/grass.jpg");
        background-position: 0 60%;
        background-size: cover;
    }

    #threespanmedia{
        background-image: url("./assets/shaljam.jpg");
        background-position: 0 50%;
        background-size: cover;
        width: 13vw;
        height: 7vw;
    }

    /* page2 media css end */










    /* page3 media css start */

    #page3{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        padding: 2vw 8vw;
        gap: 20vw;
        height: 165vh;
    }

    #piconecon{
        width: 100%;
        height: 60vh;
    }

    #piconecon h3{
        font-size: 5vw;
    }

    #piconecon p{
        font-size: 3vw;
        width: 40%;
    }

    #piconecon .img-wrapper{
        width: 60%;
        height: 80%;
    }

    #piconecon .img-wrapper img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    #pictwocon{
        width: 100%;
    }

    #pictwocon .img-wrapper{
        width: 100%;
        height: 80vh;
    }


    #pictwocon h3{
        font-size: 5vw;
    }

    #pictwocon p{
        font-size: 3vw;
        width: 80%;
    }





    /* page3 media css end */


















    /*page4 media css start  */
    
    #page4{
        width: 100%;
        height: 100vh;
        /* background-color: #000; */
        display: flex;
        flex-direction: column;
        gap: 5vw;
        margin-top: 20px;
    }

    .banner-img-con{
        width: 80%;
    }

    .text-con-sec4{
        padding: 0 8vw;
    }

    .text-con-sec4 h2{
        font-size: 6vw;
    }

    .text-con-sec4 p{
        font-size: 3vw;
        line-height: 1;
    }





    /* page4 media css end */













    /* footer media css start */

    .footer{
        width: 100%;
        height: 100vh;
        /* background-color: #000; */
        position: relative;
        overflow: hidden;
    }

    .footer video{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(2.8);
    }

    .footer .text-con-footer{
        width: 60%;
        height: 20vh;
    }

    .text-con-footer h2{
        font-size: 6vw;
        font-weight: 650;
    }

    .text-con-footer .fbtn{
        font-size: 3vw;
        padding: 2vw 4vw;
    }


    #vedio{
        opacity: 0;
    }


    /* footer medai css end */
}

/* media css end */